@font-face {
    font-family:'Open Sans Light';
    src: url('../fonts/Open\ Sans\ Light.woff2') format('woff2'),
		url('../fonts/Open\ Sans\ Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'PT Sans Bold';
    src: url('../fonts/PT\ Sans\ Bold.woff2') format('woff2'),
		url('../fonts/PT\ Sans\ Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
   
}

@font-face {
    font-family:'PT Sans';
    src: url('../fonts/PT\ Sans.woff2') format('woff2'),
		url('../fonts/PT\ Sans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    
}